*{
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.child{
    background-color: rgb(50, 46, 46);
    border-radius: 15px;
    padding: 65px;
    width: 25%;
  
}

.star{
    color: yellow;
    background-color: aliceblue;
    width: 5%;
    border-radius: 50%;
    padding: 5px;
}

.text{
    color: white;
}

.text > h3 {
    font-size: 30px;
    font-family: Calibri;
}

.text > p {
    font-size: 20px;
    font-family: Calibri;
    color: whitesmoke;
}

.heading{
    color: white;
}


.number{
    color: aliceblue;
    background-color: blue;
    border-radius: 50%;
    display: inline-flex;
    padding: 15px;
    
    
}

.submitBtn {
    color: white;
    background-color: orange;
    font-size: 30px;
    font-family: Calibri;
    border-radius: 30px;
    width: 100%;
}